<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssafy.enjoycamping.trip.attraction.dao.AttractionDao">

    <!-- resultMap 설정 -->
    <resultMap id="AttractionResultMap" type="attraction">
        <id property="no" column="no"/>
        <result property="contentId" column="content_id"/>
        <result property="title" column="title"/>
        <result property="contentTypeId" column="content_type_id"/>
        <result property="sidoCode" column="area_code"/>
        <result property="gugunCode" column="si_gun_gu_code"/>
        <result property="firstImage1" column="first_image1"/>
        <result property="firstImage2" column="first_image2"/>
        <result property="mapLevel" column="map_level"/>
        <result property="latitude" column="latitude"/>
        <result property="longitude" column="longitude"/>
        <result property="tel" column="tel"/>
        <result property="addr1" column="addr1"/>
        <result property="addr2" column="addr2"/>
        <result property="homepage" column="homepage"/>
        <result property="overview" column="overview"/>
    </resultMap>

    <!-- ID로 명소 조회 -->
    <select id="selectById" parameterType="Integer" resultMap="AttractionResultMap">
        SELECT * FROM attractions WHERE no = #{id}
    </select>

    <!-- 동적 SQL을 사용하여 조건에 따른 명소 검색 -->
    <select id="selectByCondition" resultMap="AttractionResultMap">
        SELECT * FROM attractions
        WHERE 1=1
        <if test="keyword != null and keyword != ''">
            AND (title LIKE CONCAT('%', #{keyword}, '%')
                OR ADDR1 LIKE CONCAT('%', #{keyword}, '%')
                OR ADDR2 LIKE CONCAT('%', #{keyword}, '%'))
        </if>
        <if test="sidoCode != null and sidoCode != ''">
            AND area_code = #{sidoCode}
        </if>
        <if test="gugunCode != null and gugunCode != ''">
            AND si_gun_gu_code = #{gugunCode}
        </if>
        <if test="contentTypeId != null">
            AND content_type_id = #{contentTypeId}
        </if>

        <!-- 동적 정렬 처리 -->
        <choose>
            <when test="pagingAndSorting.order != null and pagingAndSorting.sort != null">
                ORDER BY ${pagingAndSorting.order} ${pagingAndSorting.sort}
            </when>
            <otherwise>
                ORDER BY title ASC  <!-- 기본 정렬 조건 설정 -->
            </otherwise>
        </choose>

        <!-- 페이징 처리 -->
        <if test="pagingAndSorting.pageCnt > 0">
            LIMIT #{pagingAndSorting.pageCnt} OFFSET #{pagingAndSorting.offset}
        </if>
    </select>

    <!-- 거리 기준으로 가까운 관광지 조회 -->
    <select id="selectAttractionsByDistance" resultMap="AttractionResultMap">
        SELECT a.*,
            (6371 * ACOS(COS(RADIANS(c.latitude))
            * COS(RADIANS(a.latitude))
            * COS(RADIANS(a.longitude) - RADIANS(c.longitude))
            + SIN(RADIANS(c.latitude))
            * SIN(RADIANS(a.latitude)))) AS distance
        FROM attractions a
        JOIN camping c ON c.id = #{campingId}
        ORDER BY distance ASC

        <!-- 페이징 처리 -->
        <if test="pagingAndSorting.pageCnt > 0">
            LIMIT #{pagingAndSorting.pageCnt} OFFSET #{pagingAndSorting.offset}
        </if>
    </select>

    <!-- 같은 구군에 위치한 관광지 조회 -->
    <select id="selectAttractionsInSameGugun" resultMap="AttractionResultMap">
        SELECT a.*
        FROM attractions a
        JOIN camping c ON c.id = #{campingId}
        WHERE a.area_code = c.sido_code
        AND a.si_gun_gu_code = c.gugun_code

        <!-- 동적 정렬 처리 -->
        <choose>
            <when test="pagingAndSorting.order != null and pagingAndSorting.sort != null">
                ORDER BY ${pagingAndSorting.order} ${pagingAndSorting.sort}
            </when>
        </choose>

        <!-- 페이징 처리 -->
        <if test="pagingAndSorting.pageCnt > 0">
            LIMIT #{pagingAndSorting.pageCnt} OFFSET #{pagingAndSorting.offset}
        </if>
    </select>
</mapper>