<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssafy.enjoycamping.trip.contenttype.dao.ContentTypeDao">

    <!-- ContentType 전체 조회 -->
    <select id="selectAll" resultType="contenttype">
        SELECT * FROM contenttypes
    </select>

    <!-- id으로 ContentType 조회 -->
    <select id="selectById" parameterType="Integer" resultType="contenttype">
        SELECT * FROM contenttypes WHERE content_type_id = #{id}
    </select>

</mapper>
